:root {
  --sidebar-width: 280px;
  --primary: #2e7d32;
  --primary-light: #EAF3DE;
  --primary-dark: #1e5c1e;
  --bg: #f4f6f3;
  --white: #ffffff;
  --text: #537953;
  --text-muted: #4d5e4d;
  --border: #e0e8e0;
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--bg);
}

.page-container {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: 100vh;
  background: var(--bg);
}

.nav-bar {
  width: var(--sidebar-width);
  height: 100vh;
  background: var(--primary-dark);
  padding: 25px 17px;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-shrink: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 0 10px 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.logo-bg {
  background: white;
  width: 110px;
  height: 110px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.747), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 110px;
  height: auto;
}

.app-name {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.3;
  letter-spacing: -0.2px;
  text-align: center;
  white-space: nowrap;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.644), 0 1px 1px rgba(0, 0, 0, 0.648);
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

.nav-buttons button {
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.783);
  text-align: left;
  transition: background 0.3s, color 0.2s;
  width: 100%;
}

.nav-buttons button svg {
  font-size: 25px;
  flex-shrink: 0;
}

.nav-buttons button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.nav-buttons button.active {
  background: rgba(255, 255, 255, 0.15);
  color: #ecff46;
  font-weight: 600;
}

.logout-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.65);
  transition: background 0.3s, color 0.3s;
  width: 100%;
}

.logout-btn svg {
  font-size: 25px;
}

.logout-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ecff46;
  transform: translateX(2px);
}

.collection-form {
  max-width: 350px;
  min-height: 280px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 22px;
  background: var(--white);
  border-radius: 12px;
  border: 0.5px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.187);
}

.collection-form input {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 15px;
  border: 0.5px solid var(--border);
  border-radius: 8px;
  font-size: 15px;
  color: var(--text);
  background: #ebf3eb;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.collection-form h3 {
  text-align: center;
  margin-top: 8px;
  color: var(--text);
  font-size: 25px;
  font-weight: 600;
}

.collection-form input:last-of-type {
  margin-right: 0;
}

.collection-form input:focus {
  border-color: var(--primary);
  outline: none;
  background: #cfcfcf;
}

.collection-form > input {
  display: inline-block;
  vertical-align: top;
}

.collection-form button {
  display: block;
  width: 100%;
  margin-top: 12px;
  padding: 11px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.collection-form button:hover {
  background: #cdda0eb4;
}

.sensor-status {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 20px;
  justify-content: center;
}

.sensor-card {
  background: var(--white);
  padding: 24px 28px;
  border-radius: 12px;
  border: 0.5px solid var(--border);
  transition: border-color 0.2s;
  max-width: 400px;
  min-height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.187);
}

.sensor-card:hover {
  border-color: #86bf86d6;
  border-width: 3px;
}

.sensor-card h4 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 600;
  color: var(--text);
  text-align: center;
  text-transform: uppercase;
}

.sensor-card p {
  font-size: 23px;
  color: var(--text-muted);
  margin-bottom: 8px;
  padding: 8px 0;
  align-items: center;
  border-bottom: 0.5px solid #cecece;
}

.sensor-card p span:first-child {
  font-weight: 500;
  color: var(--text);
}

.sensor-card p span:last-child {
  font-weight: 600;
}

.active { 
  color: #3B6D11; 
}
.inactive { 
  color: #888780; 
}
.detected { 
  color: #3B6D11; 
}
.not-detected { 
  color: #888780; 
}

.sensor-card.ultrasonic {
  border-left: 3px solid #378ADD;
}

.sensor-card.ir {
  border-left: 3px solid #7F77DD;
}

@media (max-width: 600px) {
  .nav-bar {
    width: 60px;
    padding: 16px 8px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  .collection-form {
    max-width: 350px;
  }
}

@media (min-width: 1025px) {
  .collection-form {
    max-width: 380px;
  }
}

  .logo-container {
    justify-content: center;
  }

  .app-name,
  .nav-buttons button span,
  .logout-btn span {
    display: none;
  }

  .collection-form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}