.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.stat-box {
  background: white;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.2s;
  border-left: 5px solid transparent;
}

/*Paras colored lines sa mga cards*/
.bottle-line {
  border-left: 5px solid #d10303;
}
.bottle-line .stat-icon {
  color: #d10303;
}

.distance-line {
  border-left: 5px solid #3039eb;
}
.distance-line .stat-icon {
  color: #3039eb;
}

.status-line {
  border-left: 5px solid #fdd431;
}
.status-line .stat-icon {
  color: #fdd431;
}

.stat-box:hover {
  transform: translateY(-3px);
}

/* ICON */
.stat-icon {
  font-size: 40px;
  color: #6fcf97;
}

/* TEXT */
.stat-box h3 {
  margin-top: 10px;
  color: #757675;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

.stat-box p {
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
}

/* STATUS */
.full-text {
  color: red;
}

.normal-text {
  color: green;
}

/* BUTTON */
.clear-btn {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}

.clear-btn:hover {
  background: #dc2626;
}