:root {
  --bg: #8fc89f;
}
body{
  background-color: green;
}
/* CENTER */
.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CARD */
.card-login {
  background: rgba(207, 214, 204, 0.9);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card-login p {
  margin-top: 8px;
  margin-bottom: 18px; /* ✅ adds space before button */
  font-size: 17px;
  color: #000000;
  text-align: center;
  cursor: pointer;
  
}

.card-login p:hover {
  color: #a2a011;       /* change text color on hover */
  transform: scale(1.1); 
}

/* INPUT */
.input-group input {
  width: 100%; /* 🔥 FIXED */
  height: 45px;
  padding-left: 38px;   /* ✅ matches icon position */
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #d1fae5;
  font-size: 14px;
}
.input-group {
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.input-icon {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
  color: #038d3a;
  font-size: 16px;
  pointer-events: none;
}

/* BUTTON */
button[type="submit"] {
  width: 100%;
  height: 45px;
  background: #0c8745;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #a4b415;
}

h2{
  font-size: 28px;
  margin-top: 10px;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
  color: #038d3a;
}

.error-message {
  color: red;
  font-size: 15px;
  
  text-align: left;
}