.profile-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.profile-card {
  width: 500px;
  background: white;
  padding: 110px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(2, 102, 30, 0.689);
}

.image-container {
  position: relative;
  margin: auto;
  width: 220px;
  
}

.image-container img {
  width: 220px; /* bigger profile picture */
  height: 220px;
  border-radius: 50%; /* circle shape */
  border: 5px solid #6fcf97;
}

.camera-btn {
  position: center;
  bottom: 8px;
  right: 8px;
  width: 38px;
  height: 38px;
  background: linear-gradient(135deg, #058316, #00c6ff);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.camera-btn:hover {
  background: #4caf7a;
  transform: scale(1.1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.camera-btn svg {
  font-size: 16px;
}

.camera-btn:active {
  transform: scale(0.95);
}

/* Optional glow effect */
.camera-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 123, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info {
  margin-top: 15px;
  color: black;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align left for readability */
  gap: 10px; /* space between icon and text */
  font-size: 18px;
  border-radius: 8px;
  color: #333;
  padding: 10px;
  background: #93dda7;
  margin-bottom: 12px;
}

.info-row.status {
  font-weight: bold;
  color: #4caf7a;
}

.title {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #1f2937;
}

.status {
  background: #e6f4ea;
  color: green;
}